*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: rgb(72, 72, 253);
    display:flex ;
    flex-direction: column;
    
}
header{
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
main {
   
    flex-grow: 1;

}

.galeria-container{

    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 100%;
    display: grid;
    gap: 15px;
    grid-template-areas:  

    "item1 item2 item2 item3"
    "item1 item4 item5 item3"
    "item1 item6 item8 item8"
    "item1 item7 item8 item8"
    ;
    grid-auto-rows: 20vh;
     padding: 10px;
   

}
.galeria-items:nth-child(1){grid-area:item1;}
.galeria-items:nth-child(2){grid-area:item2;}
.galeria-items:nth-child(3){grid-area:item3;}
.galeria-items:nth-child(4){grid-area:item4;}
.galeria-items:nth-child(5){grid-area:item5;}
.galeria-items:nth-child(6){grid-area:item6;}
.galeria-items:nth-child(7){grid-area:item7;}
.galeria-items:nth-child(8){grid-area:item8;}

img {
    width: 100%;
    height: 100%;
}
.galeria-imagens {
    box-shadow: 2px 1px 50px rgb(4, 14, 24);
}

.galeria-imagens:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}



.galeria-items{
    
    background-color: rgb(8, 8, 8);

}

footer {
   
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

